{% extends 'base.html' %}
{% load static %}

{% block titulo %}Novo Veículo{% endblock %}

{% block css_local %}

<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<style>
  .form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
</style>
{% endblock %}

{% block conteudo %}
<div class="container py-5">
  <div class="form-container">
    <h2 class="mb-4">Cadastrar Novo Veículo</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Salvar</button>
      <a href="{% url 'listar-veiculos' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
</div>
{% endblock %}

{% block javascript_local %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}